body,div,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4
 
　　{margin:0;padding:0;font-style:normal;font:12px/22px"\5B8B\4F53",Arial,Helvetica,sans-serif}
 
　　ol,ul,li{list-style:none;}
 
　　img{border:0;vertical-align:middle;}
 
　　body{color:#000000;background:#FFF;text-align:center;}
 
　　.clear{clear:both;height:1px;width:100%;overflow:hidden;margin-top:-1px;}
 
　　a{color:#000000;text-decoration:none;}
 
　　a:hover{color:#BA2636;text-decoration:underline;}
a{
    text-decoration: none;
    color: #333;
}

p{
    margin: 0;
}
.flex_center{
    display: flex;
    align-items: center;
    }
    .flex_js_center{
        display: flex;
        justify-content: center;
        }
    .flex_start{
        display: flex;
        align-items: flex-start;
        }

        .flex_start_center{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            }
    img{
        width: 100%;
    }
.flex_center_center{
display: flex;
align-items: center;
justify-content: center;
}
.flex_center_betwen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .flex_center_around{
        display: flex;
        align-items: center;
        justify-content: space-around;
        }

        .flex_cloum_center{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            }
            .flex_cloum{
                display: flex;
                flex-direction: column;
                align-items: center;
              
                }
.display_none{
    display: none;
}
.center{
    text-align: center;
}
.change_tap{
    background-color: #0D9DDE;
    color: white;
}
.hover_color{
    background-color: #E6E6E6;
    color: #333;
}
.bule_bottom{
    border-bottom: 1px solid #0F9FD8;
}
.nav_fu{
    position: absolute;
    width: 100%;
    background-color: #0F9FD8;
    color: white;
    top:100%;
    left: 0;
    display: none;
    z-index: 666;
}
.nav_fu p{
    font-size: .16rem;
    text-align: center;
    padding: .1rem 0;
}
